[Desktop Entry]
Name=Hello Again
GenericName=Hello World App
Comment=Proves that we can use Vala and GTK
Categories=Utility;Education;
Exec=com.github.k2flz.helloagain
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Hello;World;Example;
